/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* /\  RESET  /\ */

/* \/ NEW CSS \/ */

nav {
  margin:2% auto 5%;
  width:90%;
  text-align:center;
}
a {
  color:white;
  overflow-wrap:wrap;
  width: 95px;
  height: 15px;
  font-family:monospace;
  margin:2% 5%;
  padding:10px 20px 25px;
  border-radius:15px;
  display:inline-block;
  font-size:1.2em;
}
.nav1 {
  background-color:#FF764E;
}
.nav2 {
  background-color:#5ED3EB;
}
.nav3 {
  background-color:#FFCD69;
}
header {
  width:90%;
  margin: auto;
}
.heroimg {
  width:30%;
}
header img {
  width: 200px;
  height: 200px;
  border-radius:100%;
  float:left;
  margin:0 15%;
}
header h1 {
  width:70%;
  margin:2% auto 5%;
  font-size:2em;
  font-family:chelsea_market;
  text-align:center;
}
.herotxt p {
  line-height:1.2em;
  text-align:center;
  font-size:1.1em;
  width:70%;
  margin:3% auto;
}
.maincont {
  background-color: #DDB9A3;
  color: white;
  width:90%;
  margin:5% auto 0;
  padding:1%;
  font-size:1.1em;
  text-align:center;
}
.maincont p {
  margin:2% auto;
}
section img {
  width:75px;
  height:75px;
  margin:auto;
  padding:5%;
  display:block;
}
.content {
  width:30%;
  margin:auto;
  text-align:center;
}
.content p{
  margin-bottom:2%;
}
footer {
  background-color: #F9E7DC;
}
.footimg {
  margin:5% 0 0;
  height:200px;
  width:100%;
  background:url(/assets/footer_img.jpg) no-repeat center;
  background-position: 100% 20%;
}
footer nav {
  margin:0 auto;
}
footer nav a {
  margin:2% 5%;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}